body {
    margin: 0;
    /* background-color: #111; */
}

#map { 
    height: 100vh;
    /* postion: absolute; */
    /* width: 100%;  */
}

#button {
    position: absolute;
    top: 7px;
    /* right: 95%; */
    left: 5px;
    padding: 5px;
    z-index: 500;
}

#img {
    width: 35px;
    height: 35px;
}

#mySidenav{
  width: var(width);
}

.sidenav {
    height: 50%; /* 100% Full-height */
    width: 150; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 500; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 15px; /*Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    border-radius: 0px 0px 30px 0px;
    border: 2px solid white;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }